# Development configuration. Must override `project`.

version: '2'
services:

  db:
    image: aidanlister/postgres-hstore:latest

  redis:
    image: redis:alpine

  hot:
    build:
      context: ../..
      dockerfile: boilerplate/docker/Dockerfile.node
    ports:
      - 3000:3000
    volumes:
      - ../..:/usr/local/app

  worker:
    build:
      context: ../..
      dockerfile: boilerplate/docker/Dockerfile.development
      args:
        run: worker
    links:
      - db
      - redis
    volumes:
      - ../..:/usr/local/app
    environment:
      - SCHEDULER=1
      - SHORT_WORKERS=1
      - DEFAULT_WORKERS=1

  web:
    build:
      context: ../..
      dockerfile: boilerplate/docker/Dockerfile.development
      args:
        run: runserver
    links:
      - db
      - redis
      - hot
    ports:
      - 8000:8000
    volumes:
      - ../..:/usr/local/app
