# AWS production configuration. Must override `project`.

version: '2'
services:

  db:
    image: postgres:latest
    volumes:
      - ../../var:/share

  redis:
    image: redis:alpine

  worker:
    build:
      context: ../..
      dockerfile: boilerplate/docker/Dockerfile.aws
      args:
        run: worker
    environment:
      - WORKER_PROCESSES=1
      - WEB_THREADS=2
      - WORKER_THREADS=2
      - DATABASE_URL=postgres://postgres:@db:5432/postgres
      - REDIS_URL=redis://redis:6379
      - SECRET_KEY=dummy
      - DEBUG=true
    links:
      - db
      - redis

  web:
    build:
      context: ../..
      dockerfile: boilerplate/docker/Dockerfile.aws
      args:
        run: web
    environment:
      - WEB_PROCESSES=5
      - DATABASE_URL=postgres://postgres:@db:5432/postgres
      - REDIS_URL=redis://redis:6379
      - SECRET_KEY=dummy
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - DEBUG=true
    ports:
      - 8000-8010
    links:
      - db
      - redis
    volumes:
      - ..:/usr/local/app/boilerplate
      - ../../var:/usr/local/app/var

  nginx:
    image: furiousluke/nginx:latest
    ports:
      - 8080:80
      - 8443:443
    links:
      - web
    volumes:
      - ../keys:/etc/nginx/keys
