# AWS production configuration. Must override `project`.
# This is "atto" size. Everything is built into a single
# container.
#
# We need the nginx service to simulate SSL for us.

version: '2'
services:

  db:
    image: postgres:latest
    volumes:
      - ../../var:/share

  app:
    build:
      context: ../..
      dockerfile: boilerplate/docker/Dockerfile.heroku.atto
    environment:
      - DATABASE_URL=postgres://postgres:@db:5432/postgres
      - REDIS_URL=redis://0.0.0.0:6379
      - WEB_PROCESSES=1
      - WORKER_PROCESSES=1
      - WEB_THREADS=1
      - WORKER_THREADS=1
      - SECRET_KEY=dummy
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - DEBUG=true
    links:
      - db
    volumes:
      - ..:/app/boilerplate
      - ../../var:/app/var
    ports:
      - 80:80

  nginx:
    image: furiousluke/nginx:latest
    build:
      context: ../..
      dockerfile: boilerplate/docker/Dockerfile.nginx
    ports:
      - 443:443
    links:
      - app
