# Cedar production configuration. Must override `project`.

version: '2'
services:

  db:
    image: aidanlister/postgres-hstore:latest

  redis:
    image: redis:alpine

  worker:
    build:
      context: ../..
      dockerfile: boilerplate/docker/Dockerfile.cedar.worker
      args:
        scheduler: 0
        short_workers: 1
        default_workers: 1
    environment:
      - DATABASE_URL=postgres://postgres:@db:5432/postgres
      - REDIS_URL=redis://redis:6379
      - SECRET_KEY=dummy
    links:
      - db
      - redis

  web:
    build:
      context: ../..
      dockerfile: boilerplate/docker/Dockerfile.cedar.web
    command: 'bash -c ''gunicorn --keyfile=keys/dev.key --certfile=keys/dev.cert $$WSGI_APP'''
    environment:
      - PORT=8080
      - WEB_CONCURRENCY=1
      - DATABASE_URL=postgres://postgres:@db:5432/postgres
      - REDIS_URL=redis://redis:6379
      - SECRET_KEY=dummy
    ports:
      - 8080:8080
    links:
      - db
      - redis
    volumes:
      - ../keys:/app/user/keys
