# AWS production configuration. Must override `project`.
# This is "pico" size.
#
# We need the nginx service to simulate SSL for us.

version: '2'
services:

  web:
    build:
      context: ../..
      dockerfile: boilerplate/docker/Dockerfile.pico.web
      args:
        platform: heroku
    environment:
      - DATABASE_URL=postgres://postgres:@db:5432/postgres
      - REDIS_URL=redis://redis:6379
      - WEB_PROCESSES=3
      - SECRET_KEY=dummy
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - DEBUG=true
    links:
      - db
      - redis
    volumes:
      - ..:/app/boilerplate
      - ../../var:/app/var
    ports:
      - 80:80

  worker:
    build:
      context: ../..
      dockerfile: boilerplate/docker/Dockerfile.pico.worker
    environment:
      - DATABASE_URL=postgres://postgres:@db:5432/postgres
      - REDIS_URL=redis://redis:6379
      - WORKER_PROCESSES=1
      - WEB_THREADS=3
      - WORKER_THREADS=1
      - SECRET_KEY=dummy
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - DEBUG=true
    links:
      - db
      - redis
    volumes:
      - ..:/app/boilerplate
      - ../../var:/app/var

  db:
    image: postgres:latest
    volumes:
      - ../../var:/share

  redis:
    image: redis:alpine

  nginx:
    image: furiousluke/nginx:latest
    build:
      context: ../..
      dockerfile: boilerplate/docker/Dockerfile.nginx
    ports:
      - 443:443
    links:
      - web
