.button {
  float: right;
  height: 50px;
  width: 50px;
  border: 0px;
  background: #e74c3c;
  border-radius: 7px;
  padding: 10px;
  color: white;
  font-size: 22px;
  margin-top: 5px;
  margin-right: 5px;
}

.buttonValid {
    composes: button;
    background: #4caf50;
}
